
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.clarifion-upsell-pXj {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .usps-2Nu {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.5rem 18.2rem 1.3rem 12.2rem;
    width: 150rem;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #252f3d;

    .item-1-wnh {
      box-sizing: border-box;
      padding: 0.19rem 0rem 0.19rem 0.19rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 10.4rem;

      .fluent-checkmark-starburst-20-regular-opu {
        margin-right: 0.9902rem;
        width: 1.8195rem;
        height: 1.8195rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .day-satisfaction-guarantee-Hzy {
        margin-top: 0.4002rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1;
        color: #ffffff;
        flex-shrink: 0;
        text-transform: capitalize;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .item-2-wZj {
      flex-shrink: 0;
      margin-right: 11.3rem;
      box-sizing: border-box;
      padding: 0.498rem 0rem 0.292rem 0.086rem;
      height: 100%;
      display: flex;
      align-items: center;

      .ph-truck-light-rwb {
        margin-right: 0.3859rem;
        width: 2.0281rem;
        height: 1.4096rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .free-delivery-on-orders-over-4000-aMo {
        line-height: 1;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 500;
        flex-shrink: 0;
        margin-top: 0.1935rem;
      }
    }
    .item-3-Seu {
      align-items: center;
      flex-shrink: 0;
      margin-right: 10.5rem;
      box-sizing: border-box;
      padding: 0.275rem 0rem 0.243rem 0.183rem;
      height: 100%;
      display: flex;

      .mdi-cards-heart-outline-ZUd {
        margin-right: 0.4835rem;
        width: 1.8333rem;
        height: 1.6821rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .happy-customers-Tpu {
        font-weight: 500;
        line-height: 1;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3679rem;
        font-size: 1.2rem;
        text-transform: capitalize;
        color: #ffffff;
      }
    }
    .item-4-Nws {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.073rem 0rem 0.072rem 0.275rem;

      .fluent-arrow-sync-checkmark-20-regular-WoB {
        flex-shrink: 0;
        margin-right: 1.0747rem;
        width: 1.6503rem;
        height: 2.0545rem;
        object-fit: contain;
        vertical-align: top;
      }
      .money-back-guarantee-Pry {
        margin-top: 0.3989rem;
        font-weight: 500;
        color: #ffffff;
        flex-shrink: 0;
        font-size: 1.2rem;
        line-height: 1;
        text-transform: uppercase;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-wa8h-Vf7 {
    width: 150rem;
    height: 16.8rem;
    position: relative;
    flex-shrink: 0;

    .frame-1000004695-2Q9 {
      left: 0;
      top: 0;
      box-sizing: border-box;
      width: 150rem;
      height: 9.6rem;
      align-items: center;
      background-color: #ffffff;
      padding: 3rem 12.7rem;
      position: absolute;
      display: flex;

      .a41c73b670a97ae1d4f47clarifionlogo-1-wX7 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 85.2rem;
        width: 19.2rem;
        height: 3.6rem;
      }
      .frame-1484578056-FXo {
        margin: 0.2rem 0;
        height: calc(100% - 0.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-1484578055-xx1 {
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 8.8rem;
        }
        .norton-antivirus-logo-1-HUV {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 8.2rem;
          height: 3.1995rem;
          position: relative;
        }
      }
    }
    .frame-8-QZ7 {
      position: absolute;
      left: 40.25rem;
      top: 8.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 63.6rem;
      height: 8.3rem;

      .wait-your-order-in-progress-WMF {
        margin-bottom: 1.1rem;
        font-size: 4.8rem;
        text-transform: capitalize;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1;
        font-family: Manrope, 'Source Sans Pro';
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-cv5 {
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.5rem;
        font-size: 2.4rem;
        font-family: Manrope, 'Source Sans Pro';
        text-transform: capitalize;
        color: #4d5254;
      }
    }
  }
  .auto-group-mlgh-u8V {
    box-sizing: border-box;
    padding: 5.3rem 9.7rem 6.1rem 9.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .frame-1484578043-Qb3 {
      margin-bottom: 4rem;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-1484578037-kQ1 {
        margin-right: 8.9667rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-1484578147-V6h {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2rem;
          width: 4rem;
          height: 4rem;
        }
        .step-1-cart-review-Rm3 {
          text-transform: capitalize;
          font-family: Manrope, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.8rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1;
          color: #000000;
          white-space: nowrap;
        }
      }
      .frame-1484578038-Lt1 {
        margin-right: 8.8667rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-1484578148-JK3 {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2rem;
        }
        .step-2-checkout-Qcy {
          font-size: 2rem;
          color: #000000;
          flex-shrink: 0;
          text-transform: capitalize;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.8rem;
          font-weight: 400;
          line-height: 1.1;
        }
      }
      .frame-1484578036-h6H {
        align-items: center;
        flex-shrink: 0;
        margin-right: 8.8667rem;
        height: 100%;
        display: flex;

        .group-1484578146-FNh {
          width: 4rem;
          line-height: 1.1;
          justify-content: center;
          border-radius: 2rem;
          background-color: #2c7ef8;
          font-size: 2rem;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          border: solid 0.2rem #2c7ef8;
          height: 100%;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-weight: 400;
          color: #ffffff;
          box-sizing: border-box;
        }
        .step-3-special-offer-efj {
          font-weight: 700;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.8rem;
          font-size: 2rem;
          line-height: 1.1;
          text-transform: capitalize;
          flex-shrink: 0;
        }
      }
      .frame-1484578035-a3b {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .group-1484578146-L2m {
          font-weight: 400;
          color: #2c7ef8;
          justify-content: center;
          border-radius: 2rem;
          width: 4rem;
          font-size: 2rem;
          line-height: 1.1;
          border: solid 0.2rem #2c7ef8;
          flex-shrink: 0;
          text-transform: capitalize;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2rem;
          height: 100%;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        }
        .step-4-confirmation-aho {
          font-weight: 400;
          line-height: 1.1;
          text-transform: capitalize;
          margin-top: 0.8rem;
          font-size: 2rem;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .frame-9-7Bw {
      box-sizing: border-box;
      padding: 4rem 3.9rem 3.3rem 4rem;
      overflow: hidden;
      align-items: center;
      background-color: #f9f9f9;
      border-radius: 1rem;
      flex-shrink: 0;
      width: 100%;
      height: 87.9rem;
      position: relative;
      display: flex;

      .auto-group-eqx3-EGZ {
        margin: 0rem 4rem 0.5rem 0rem;
        width: 57.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-4-Mry {
          height: 59.1rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 57.5rem;
        }
        .frame-1484578050-6Jm {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.4rem 3.1rem 2.4rem 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1rem;

          .frame-1484578045-EA5 {
            margin: 0rem 28.3rem 1.8rem 0rem;
            width: calc(100% - 28.3rem);
            height: 4.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .rectangle-1127-iN5 {
              flex-shrink: 0;
              height: 4.8rem;
              position: relative;
              background-position: -1.7572rem -1.2629rem;
              background-image: url('REPLACE_IMAGE:ab94948cbfe5570b6db010c23b8479919f8ba436');
              border-radius: 10rem;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-size: 185.656% 126.684%;
            }
            .name-ZtV {
              margin: 0.635rem 0rem 0.635rem 0rem;
              width: 17.6rem;
              height: calc(100% - 1.2703rem);
              flex-shrink: 0;

              .stars-rMo {
                display: flex;
                align-items: center;
                margin: 0rem 0rem 0.735rem 0rem;

                .vector-yBX {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.46rem 0rem 0rem;
                  width: 1.1946rem;
                  height: 1.1946rem;
                  object-fit: contain;
                }
                .vector-hdK {
                  height: 1.1946rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.46rem 0rem 0rem;
                  width: 1.1946rem;
                }
                .vector-pT3 {
                  margin: 0rem 0.459rem 0rem 0rem;
                  width: 1.1946rem;
                  height: 1.1946rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .vector-MC5 {
                  margin: 0rem 0.46rem 0rem 0rem;
                  width: 1.1946rem;
                  height: 1.1946rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .vector-HrR {
                  margin-top: 0rem;
                  width: 1.1946rem;
                  height: 1.1946rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .frame-1000004527-qsw {
                display: flex;
                align-items: center;
                width: 100%;
                height: 1.6rem;

                .ken-t-n2V {
                  flex-shrink: 0;
                  margin-right: 1rem;
                  font-size: 1.4rem;
                  font-weight: 700;
                  line-height: 1;
                  color: #333333;
                  font-family: Manrope, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .verify-ro3 {
                  box-sizing: border-box;
                  padding: 0rem 0rem 0rem 0rem;
                  height: 100%;
                  display: flex;
                  align-items: flex-end;
                  flex-shrink: 0;

                  .verify-1-QJm {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.0005rem;
                    width: 1.5995rem;
                    height: 1.6rem;
                    object-fit: contain;
                  }
                  .verified-customer-Ly7 {
                    color: #5bb59a;
                    font-family: Manrope, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.2000000477;
                  }
                }
              }
            }
          }
          .as-soon-as-the-clarifions-arrived-i-put-one-in-my-bedroom-this-was-late-in-the-afternoon-when-i-went-to-the-bedroom-in-the-evening-it-smelled-clean-when-i-went-to-bed-i-felt-i-could-breathe-better-wonderful-rRf {
            line-height: 1.5;
            color: #4d5254;
            font-family: Manrope, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 52rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      .frame-14-2jT {
        flex-direction: column;
        flex-shrink: 0;
        width: 55.1rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-nhms-yeh {
          padding-bottom: 3.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .one-time-only-special-price-for-6-extra-clarifion-for-only-14-each-8400-total-iMP {
            font-family: Manrope, 'Source Sans Pro';
            margin-bottom: 1rem;
            font-size: 3.2rem;
            line-height: 1.3999999762;
            text-transform: capitalize;
            color: #000000;
            flex-shrink: 0;
            max-width: 54.3rem;
            font-weight: 600;

            .one-time-only-special-price-for-6-extra-clarifion-for-only-14-each-8400-total-iMP-sub-0 {
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.3999999762;
              text-transform: capitalize;
              color: #2c7ef8;
              font-family: Manrope, 'Source Sans Pro';
            }
            .one-time-only-special-price-for-6-extra-clarifion-for-only-14-each-8400-total-iMP-sub-1 {
              color: #000000;
              font-family: Manrope, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.3999999762;
              text-transform: capitalize;
            }
            .one-time-only-special-price-for-6-extra-clarifion-for-only-14-each-8400-total-iMP-sub-2 {
              font-family: Manrope, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.3999999762;
              text-transform: capitalize;
              color: #2c7ef8;
            }
            .one-time-only-special-price-for-6-extra-clarifion-for-only-14-each-8400-total-iMP-sub-3 {
              font-weight: 400;
              line-height: 1.3999999762;
              text-transform: capitalize;
              color: #000000;
              font-family: Manrope, 'Source Sans Pro';
              font-size: 3.2rem;
            }
          }
          .frame-13-5Fo {
            margin: 0rem 0.1rem 2.1rem 0rem;
            width: calc(100% - 0.1rem);
            height: 14.6rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-1484578135-zdf {
              margin: 0rem 2.4rem 1.1rem 0rem;
              width: 13.4rem;
              background-color: #2c7ef8;
              border-radius: 1rem;
              flex-shrink: 0;

              .image-removebg-preview-12-1-vXK {
                width: 13.4rem;
                height: 13.4rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1rem;
              }
            }
            .frame-12-HWH {
              flex-direction: column;
              flex-shrink: 0;
              width: 39.2rem;
              height: 100%;
              align-items: center;
              display: flex;

              .frame-10-qGu {
                width: 100%;
                height: 3.1rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .clarifion-air-ionizer-bG5 {
                  font-size: 2rem;
                  color: #000000;
                  font-family: Manrope, 'Source Sans Pro';
                  white-space: nowrap;
                  margin: 0rem 13.1rem 0.1rem 0rem;
                  line-height: 1.4;
                  text-transform: capitalize;
                  flex-shrink: 0;
                  font-weight: 400;
                }
                .frame-11-Uam {
                  flex-shrink: 0;
                  height: 100%;
                  display: flex;
                  align-items: flex-start;

                  .item-180-Epq {
                    font-size: 1.6rem;
                    line-height: 1.365;
                    text-decoration-line: line-through;
                    flex-shrink: 0;
                    margin: 0.2rem 1rem 0rem 0rem;
                    text-transform: capitalize;
                    color: #969696;
                    font-family: Manrope, 'Source Sans Pro';
                    white-space: nowrap;
                    font-weight: 600;
                  }
                  .item-84-k2V {
                    color: #2c7ef8;
                    font-family: Manrope, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2.2rem;
                    font-weight: 600;
                    line-height: 1.3999999653;
                    text-transform: capitalize;
                  }
                }
              }
              .auto-group-zakb-gB3 {
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;
                row-gap: 1.5rem;
                display: flex;

                .stars-pY9 {
                  border-radius: 1.6rem;
                  flex-shrink: 0;
                  display: flex;
                  column-gap: 0.2rem;
                  align-items: center;

                  .ant-design-star-filled-N3s {
                    width: 1.8rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    border-radius: 1.6rem;
                    flex-shrink: 0;
                  }
                  .ant-design-star-filled-u3o {
                    vertical-align: top;
                    border-radius: 1.6rem;
                    flex-shrink: 0;
                    width: 1.8rem;
                    height: 1.8rem;
                    object-fit: contain;
                  }
                  .ant-design-star-filled-qCM {
                    width: 1.8rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    border-radius: 1.6rem;
                    flex-shrink: 0;
                  }
                  .ant-design-star-filled-yJZ {
                    flex-shrink: 0;
                    width: 1.8rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    border-radius: 1.6rem;
                  }
                  .ant-design-star-filled-7ff {
                    width: 1.8rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    border-radius: 1.6rem;
                    flex-shrink: 0;
                  }
                }
                .frame-193-QPs {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 25.6rem;
                  width: calc(100% - 25.6rem);
                  display: flex;

                  .group-1000001340-Wxh {
                    margin-right: 1.6rem;
                    width: 1.6rem;
                    height: 1.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .left-in-stock-TN9 {
                    font-weight: 300;
                    line-height: 1.365;
                    color: #37465a;
                    font-family: Manrope, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.6rem;
                  }
                }
                .simply-plug-a-clarifion-into-any-standard-outlet-and-replace-bulky-expensive-air-purifiers-with-a-simple-ahf {
                  font-family: Manrope, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 37.3rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.3999999762;
                  color: #4d5254;
                }
              }
            }
          }
          .frame-1000004599-qtV {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 2.3rem;
            width: 39.9rem;
            align-items: center;

            .frame-18-b6y {
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              width: 100%;

              .tick-circle-kVf {
                width: 2.2rem;
                height: 2.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.2rem;
              }
              .negative-ion-technology-may-help-with-allergens-529 {
                margin-top: 0.5rem;
                display: flex;
                align-items: baseline;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.6000000238;
                color: #4d5254;
                font-family: Manrope, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;

                .negative-ion-technology-may-help-with-allergens-529-sub-0 {
                }
                .negative-ion-technology-may-help-with-allergens-529-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.6000000238;
                  color: #4d5254;
                  font-family: Manrope, 'Source Sans Pro';
                }
              }
            }
            .auto-group-wd6h-BUV {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 0.7rem;
              width: 100%;

              .frame-23-hhj {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                margin: 0rem 14.5rem 0.7rem 0rem;
                width: calc(100% - 14.5rem);

                .tick-circle-SQR {
                  margin-right: 1.2rem;
                  width: 2.2rem;
                  height: 2.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .designed-for-air-rejuvenation-ZE9 {
                  line-height: 1.6000000238;
                  color: #4d5254;
                  font-family: Manrope, 'Source Sans Pro';
                  display: flex;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  align-items: baseline;
                  margin-top: 0.5rem;
                  white-space: nowrap;

                  .designed-for-air-rejuvenation-ZE9-sub-0 {
                  }
                  .designed-for-air-rejuvenation-ZE9-sub-1 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.6000000238;
                    color: #4d5254;
                    font-family: Manrope, 'Source Sans Pro';
                  }
                }
              }
              .frame-24-ZNZ {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 3.7rem;
                width: calc(100% - 3.7rem);

                .tick-circle-J5F {
                  margin-right: 1.2rem;
                  width: 2.2rem;
                  height: 2.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .perfect-for-every-room-in-all-types-of-places-SSM {
                  color: #4d5254;
                  font-weight: 400;
                  line-height: 1.6000000238;
                  font-family: Manrope, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: baseline;
                  flex-shrink: 0;
                  margin-top: 0.5rem;
                  font-size: 1.6rem;

                  .perfect-for-every-room-in-all-types-of-places-SSM-sub-0 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.6000000238;
                    color: #4d5254;
                    font-family: Manrope, 'Source Sans Pro';
                  }
                  .perfect-for-every-room-in-all-types-of-places-SSM-sub-1 {
                  }
                }
              }
            }
          }
          .frame-1000004688-DrR {
            background-color: #edf3fc;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            box-sizing: border-box;
            padding: 1.2rem 1.6rem;
            width: 54.2rem;
            height: 5.6rem;

            .frame-1000004684-9k5 {
              width: 44.1rem;
              height: 100%;
              display: flex;
              align-items: center;

              .group-1000004656-svy {
                flex-shrink: 0;
                margin-right: 1.6rem;
                width: 3.2rem;
                height: 3.2rem;
                object-fit: contain;
                vertical-align: top;
              }
              .save-53-and-get-6-extra-clarifision-for-only-14-each-cdf {
                line-height: 1.3999999762;
                font-family: Manrope, 'Source Sans Pro';
                flex-shrink: 0;
                margin-top: 0.1rem;
                font-size: 1.6rem;
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
                display: flex;
                align-items: baseline;

                .save-53-and-get-6-extra-clarifision-for-only-14-each-cdf-sub-0 {
                }
                .save-53-and-get-6-extra-clarifision-for-only-14-each-cdf-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.3999999762;
                  color: #2c7ef8;
                  font-family: Manrope, 'Source Sans Pro';
                }
                .save-53-and-get-6-extra-clarifision-for-only-14-each-cdf-sub-2 {
                }
                .save-53-and-get-6-extra-clarifision-for-only-14-each-cdf-sub-3 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.3999999762;
                  color: #2c7ef8;
                  font-family: Manrope, 'Source Sans Pro';
                }
                .save-53-and-get-6-extra-clarifision-for-only-14-each-cdf-sub-4 {
                }
                .save-53-and-get-6-extra-clarifision-for-only-14-each-cdf-sub-5 {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.3999999762;
                  color: #2c7ef8;
                  font-family: Manrope, 'Source Sans Pro';
                }
                .save-53-and-get-6-extra-clarifision-for-only-14-each-cdf-sub-6 {
                }
              }
            }
          }
          .frame-1000004689-kWu {
            width: 54.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-1000004692-JYR {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 2rem;
              width: 100%;
              align-items: center;

              .frame-1000004690-1Sq {
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                box-sizing: border-box;
                padding: 1.6rem 12.562rem 1.5rem 12.562rem;
                width: 100%;
                height: 5.9rem;
                background-color: #59ae43;
                border-radius: 5rem;

                .frame-136-tf3 {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .yes-claim-my-discount-eu7 {
                    margin-right: 2.0764rem;
                    font-size: 2rem;
                    white-space: nowrap;
                    font-weight: 700;
                    line-height: 1.365;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-family: Manrope, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .line-1-myj {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.1rem;
                    width: 1.6rem;
                    height: 0;
                    object-fit: contain;
                  }
                }
              }
              .frame-1000004691-7Xo {
                border-radius: 0.4rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.8rem 1.4rem 0.3rem 1.4rem;
                width: 100%;
                display: flex;
                align-items: center;
                border: solid 0.1rem #cfcfcf;

                .free-shipping-qTo {
                  font-size: 1.2rem;
                  line-height: 1.3999999364;
                  text-transform: capitalize;
                  color: #4d5254;
                  white-space: nowrap;
                  margin: 0rem 1.6rem 0.5rem 0rem;
                  font-weight: 400;
                  font-family: Manrope, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .line-2-J6V {
                  flex-shrink: 0;
                  margin: 0rem 1.5rem 0.5rem 0rem;
                  width: 0.1rem;
                  height: 1.6rem;
                  background-color: #cfcfcf;
                }
                .frame-1000001268-pKj {
                  margin: 0.25rem 1.6rem 0rem 0rem;
                  box-sizing: border-box;
                  padding: 0.1rem 0rem 0rem 0.113rem;
                  display: flex;
                  align-items: flex-start;
                  flex-shrink: 0;

                  .lock-7-1-WCZ {
                    flex-shrink: 0;
                    margin-right: 1.1875rem;
                    width: 0.9rem;
                    height: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .secure-256-bit-ssl-encryption-EuF {
                    margin-top: 0.0501rem;
                    text-align: center;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    font-family: Manrope, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: #4d5254;
                    white-space: nowrap;
                  }
                }
                .line-3-Yf3 {
                  height: 1.6rem;
                  background-color: #cfcfcf;
                  flex-shrink: 0;
                  margin: 0rem 1.5rem 0.5rem 0rem;
                  width: 0.1rem;
                }
                .frame-1000001777-59B {
                  margin-bottom: 0.5rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .visa-Lau {
                    margin-right: 0.2rem;
                    width: 2.4rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .shop-pay-Uh7 {
                    margin-right: 0.2rem;
                    width: 2.4rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .paypal-1ww {
                    flex-shrink: 0;
                    margin-right: 0.2rem;
                    width: 2.4rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .mastercard-ZTf {
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 0.2rem;
                    width: 2.4rem;
                  }
                  .gpay-Uad {
                    margin-right: 0.2161rem;
                    width: 2.4rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .apple-pay-pPb {
                    height: 1.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 0.216rem 0rem 0rem;
                    width: 2.3677rem;
                  }
                  .amex-9Rs {
                    width: 2.4rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
            }
            .no-thanks-i-dont-want-this-3XF {
              white-space: nowrap;
              margin-left: 0.1rem;
              font-weight: 500;
              line-height: 1.365;
              color: #f82c2c;
              flex-shrink: 0;
              font-size: 1.8rem;
              text-transform: uppercase;
              text-decoration-line: underline;
              font-family: Manrope, 'Source Sans Pro';
            }
          }
        }
        .frame-1484578044-wMj {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .image-6-u3f {
            background-size: 118.367% 118.367%;
            background-position: -0.8381rem -0.7782rem;
            background-image: url('REPLACE_IMAGE:0003461b9ab77b5d839615855b972dedd4310061');
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 8.8rem;
            height: 8.8rem;
            position: relative;
          }
          .if-you-are-not-completely-thrilled-with-your-clarifion-we-have-a-30-day-satisfaction-guarantee-please-refer-to-our-return-policy-at-the-bottom-of-the-page-for-more-details-happy-shopping-PDj {
            color: #4d5254;
            font-family: Manrope, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0.5rem;
            max-width: 44.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;

            .if-you-are-not-completely-thrilled-with-your-clarifion-we-have-a-30-day-satisfaction-guarantee-please-refer-to-our-return-policy-at-the-bottom-of-the-page-for-more-details-happy-shopping-PDj-sub-0 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3999999762;
              color: #4d5254;
              font-family: Manrope, 'Source Sans Pro';
            }
            .if-you-are-not-completely-thrilled-with-your-clarifion-we-have-a-30-day-satisfaction-guarantee-please-refer-to-our-return-policy-at-the-bottom-of-the-page-for-more-details-happy-shopping-PDj-sub-1 {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.3999999762;
              color: #4d5254;
              font-family: Manrope, 'Source Sans Pro';
            }
            .if-you-are-not-completely-thrilled-with-your-clarifion-we-have-a-30-day-satisfaction-guarantee-please-refer-to-our-return-policy-at-the-bottom-of-the-page-for-more-details-happy-shopping-PDj-sub-2 {
              font-family: Manrope, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3999999762;
              color: #4d5254;
            }
          }
        }
      }
    }
  }
  .frame-1000004694-kkR {
    background-color: #252f3d;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.4rem 11.9rem 2.4rem 12.7rem;
    width: 100%;
    height: 8.8rem;
    display: flex;
    align-items: center;

    .frame-1000004692-Teq {
      box-sizing: border-box;
      padding: 0.8rem 0;
      height: 100%;
      display: flex;
      align-items: center;
      border-radius: 0.4rem;
      flex-shrink: 0;
      margin-right: 59.2rem;

      .copyright-c-2023-CMX {
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.6rem;
        color: #ffffff;
        line-height: 1.3999999762;
        text-transform: capitalize;
        flex-shrink: 0;
        margin: 0.1rem 1.9rem 0rem 0rem;
        font-weight: 400;
      }
      .line-2-WND {
        margin-right: 1.5rem;
        width: 0.1rem;
        height: 2.4rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .clarifionsupportclarifioncom-rS5 {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: lowercase;
        color: #ffffff;
        line-height: 1.3999999762;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .frame-1000001268-8eV {
      margin-top: 1rem;
      box-sizing: border-box;
      padding: 0.133rem 0rem 0rem 0.15rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .lock-7-1-Tgm {
        margin-right: 1.85rem;
        width: 1.2rem;
        height: 1.3333rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .secure-256-bit-ssl-encryption-amP {
        text-transform: capitalize;
        color: #ffffff;
        flex-shrink: 0;
        font-weight: 400;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.0668rem;
      }
    }
  }
}
